<ion-content [fullscreen]="true" color="light">
  <ng-container *ngIf="isloading" >
    <ion-header class="ion-no-border" slot="fixed">
      <ion-toolbar>
        <ion-buttons slot="start" mode="md">
          <ion-back-button color="light" defaultHref="/home"></ion-back-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <div class="bg-container loading">
      <div  class="bg"></div>
    </div>


    <ion-item class="loading" lines="none">
      <ion-label class="eventInfo">
        <ion-row>
          <ion-col class="item-1">

          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="item-2">
            <!-- <ion-icon name="calendar-outline"></ion-icon>
            {{event.date | date: 'MMM d, y'}} -->
          </ion-col>
        </ion-row>
      </ion-label>

      <div class="slot" slot="end" align="center">
      </div>
    </ion-item>

    <ion-item class="loading" lines="none">
      <ion-label class="eventInfo">
        <ion-row>
          <ion-col class="item-1">

          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="item-2">
            <!-- <ion-icon name="calendar-outline"></ion-icon>
            {{event.date | date: 'MMM d, y'}} -->
          </ion-col>
        </ion-row>
      </ion-label>

    </ion-item>

  </ng-container>


  <ng-container *ngIf="selectedService" >
    <ion-header class="ion-no-border" slot="fixed">
      <ion-toolbar>
        <ion-buttons slot="start" mode="md">
          <ion-back-button color="light" defaultHref="/home"></ion-back-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <div class="bg-container">
      <div [style.backgroundImage]="'url(' + selectedService.img_url + ')'" class="bg"></div>
    </div>

    <ion-item lines="none">
      <ion-label class="eventInfo">
        {{selectedService.service.servicio}}
        <ion-row>
          <ion-col>
            <!-- <ion-icon name="calendar-outline"></ion-icon>
            {{event.date | date: 'MMM d, y'}} -->
            <ion-icon name="location-outline" class="loc"></ion-icon>
            {{selectedService.destiny}}
          </ion-col>
        </ion-row>
      </ion-label>

      <div slot="end" align="center">
        <ion-label color="primary"> 365 </ion-label>
        <p>Hasta</p>
      </div>
    </ion-item>

    <ion-card>

      <ion-list>
        <ion-list-header> Acerca del plan </ion-list-header>

        <p class="ion-margin-horizontal">{{selectedService.description}}</p>

        <!-- <ion-row>
          <ion-col class="ion-align-items-center">
            <ion-avatar>
              <img src="assets/imgs/avatar1.png" />
            </ion-avatar>
            <ion-avatar class="participant">
              <img src="assets/imgs/avatar2.png" />
            </ion-avatar>
            <ion-avatar class="participant">
              <img src="assets/imgs/avatar3.jpg" />
            </ion-avatar>
            <ion-avatar class="ion-text-center participant bg-avatar">
              <ion-text color="dark">+2k</ion-text>
            </ion-avatar>
          </ion-col>

          <ion-col class="ion-align-items-center participant-text">
            <ion-label>
              <ion-text color="dark"><strong>Participant</strong></ion-text>
              <p>All over the world</p>
            </ion-label>
          </ion-col>
        </ion-row>

        <ion-list-header class="ion-align-items-center">
          Location
        </ion-list-header> -->

        <!-- <div class="map">
          <img src="assets/imgs/maps.png">
        </div> -->

      </ion-list>
    </ion-card>
  </ng-container>

</ion-content>

<ion-footer class="ion-no-border" >
  <ion-row>
    <ion-col size="12">
      <ion-button

        (click)="onClickFooter()"
        expand="block"
        shape="round"
        color="primary"
        size="large"
        [strong]="true"
      >
        <ion-text>Cotizar</ion-text>
      </ion-button>
    </ion-col>

  </ion-row>
  <!-- <ion-toolbar>
  </ion-toolbar> -->
</ion-footer>
